body {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../images/tiles.jpeg");
}

.container h2 {
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.price {
  font-weight: bold;
  color: blue;
}

.frames h2 {
  background-color:lightcoral;
}

.paint h2 {
  background-color: skyblue;
}
